* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #444;
  color: white;
}

.links a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  background: #eee;
}

button {
  margin-top: 10px;
  padding: 8px 15px;
}


.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px;
}

.box {
  background: #ddd;
  padding: 20px;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background: #444;
  color: white;
}


@media (max-width: 768px) {
  .features {
    grid-template-columns: 1fr;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }
}
